   <%- include('./components/header')%>
    <link href="/css/index.css" rel="stylesheet" >

    <title>EJS tutorial</title>
  </head>
  <body>

<div class="container-fluid">
  <h1>Welcome to EJS tutorial</h1>
 <div class="row">
   <button class="btn btn-primary">Register</button>
   <span class="welcome">Welcome <%=data.name%></span>
 </div>

  <div class="row">
  <%if(data.length>0){%>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
     <% for(let student of data){%>
      <tr>
        <td><%=student.name%></td>
        <td><%=student.firstname%></td>
        <td><%=student.email%></td>
      </tr>
      <%}%>

      </tbody>
    </table>
    <%} else{%>

    <h2>No record available</h2>
    <%}%>
  </div>

</div>
   <%- include('./components/footer')%>